# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build files
dist/
build/
*.egg-info/

# FAISS / vector DB (optional if generated locally)
*.faiss
*.pkl
index/

# Test cache
.pytest_cache/

# Mypy cache
.mypy_cache/